* {
    font-family: 'Roboto';
}

body {
    background-color: rgb(32, 32, 32);
    height: 100%;
}

.main-content {
    background-color: white;
    margin: 50px;
    padding: 1em;
    border-radius: 2em;
    height: 100%;
}

.message-container {
    margin-top: 2em;
    margin-bottom: 2em;
    max-height: 500px;
    overflow-y: auto;
}

.message {
    margin-left: 0;
    margin-right: 5em;
    background-color: rgb(241, 241, 241);
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;

    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1em;
}

.self {
    margin-left: 5em;
    margin-right: 0;
    background-color: lightgreen;
}

.message-content {
    grid-column: 1 / 3;
}

.name  {
    font-weight: bolder;
}

.timestamp {
    color: gray;
}

.login-form {
    margin: 2em;
}